@page "/"
@namespace PJDSite.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description"
          content="Website for graduate Patrick Davis, a Junior Developer in Dorset.">
    <meta name="keywords"
          content="developer,bournemouth,repair,advice,tech,web,.net,asp,umbraco,css,html,bootstrap,java,sql,database,it,technology,windows,server,host,internet,portfolio,junior,backend,frontend,css,html,c#,csharp,cms,contentmanagementsystem,deploy,hosting">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="copyright" content="Patrick Jonathan Davis | 2019">
    <meta name="author" content="Patrick Jonathan Davis | 2019">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PJD - Junior Dev UK</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/ace1e9fe5c.js" crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147192021-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-147192021-1');
    </script>
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">




        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/"><i class="fas fa-home text-light"></i> <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/Projects">Projects</a>
            <a class="nav-item nav-link" href="/Contact">Contact</a>
            <a class="nav-item nav-link " href="/About">About Me</a>
        </div>

    </nav>
    <header>
        <section id="banner">
            <div class="inner">
                <div class="special">
                    <h1>Patrick J Davis</h1>
                </div>
                <p>Junior Developer</p>
            </div>
            <img alt="Code going across screen" src="~/media/code.jpg" />
        </section>
    </header>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>



    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>


    <footer id="footer">
        <div class="outer">
            <div class="copyright">
                <div>Patrick Jonathan Davis | © | 2020</div>
            </div>
        </div>
    </footer>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
