@page "/about"
<h1 class="mx-auto text-center">About</h1>


<div class="container">

    <div class="row">
        <div class="col">

            <h2 class="center">Skills and Tools</h2>
            <div class="text-center">
                <a title="Patrick Davis CV" target="_blank" rel="noopener noreferrer" href="../media/PJDCV2019.pdf">
                    <i class="icon grow icon-extralarge  fas fa-file-download " />
                    <br />

                    <strong>View My CV</strong>
                </a>
            </div>
            <div class="card align-items-center">
                <div class="card-header" id="heading">

                </div>

                <div class="card-body">
                    <ul class="list-group">
                        <p class="mx-auto">Languages/Basics</p>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><strong>C#</strong><span class="badge badge-primary badge-pill">Worked With, Self-Taught</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><strong>JavaScript and jQuery</strong><span class="badge badge-primary badge-pill">Worked With, Self-Taught</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><strong>HTML &amp; CSS (Bootstrap 4)</strong><span class="badge badge-primary badge-pill">Worked With, Self-Taught</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <strong>SSL, DNS settings, APIs, Use of dev tools, server error codes, MVC, Windows Server, Some Linux and MacOS.</strong><span class="badge badge-primary badge-pill"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Python</strong><span class="badge badge-primary badge-pill">Basic, Self-Taught</span></li>
                        <p class="mx-auto mt-3">Frameworks/Libraries/CMS</p>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><strong>.NET and .NET Core</strong><span class="badge badge-primary badge-pill">Worked With, Self-Taught</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Umbraco 7 &amp; 8</strong><span class="badge badge-primary badge-pill">Worked With, Self-Taught</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Sitecore</strong><span class="badge badge-primary badge-pill">Used</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center"><strong>React</strong><span class="badge badge-primary badge-pill">Learning/Basic</span></li>
                        <p class="mx-auto mt-3 text-center">Other Key Tools and Familliarity/Experience</p>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <strong>
                                Git, Firebase, Google App Engine, NPM, Nuget, RESTful APIs, VS Code, MongoDB, Sitecore, Visual Studio, SQL &amp; SMSS, Postman, Papercut, Familliar with Linux &amp; Nginx, Windows Server, IIS,
                                Basic Python, Django
                            </strong>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="mt-5 mb-5">
            <h2 class="center">Other Skills</h2>
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item">
                    <strong>Computer Builds, Upgrades and Repairs</strong>
                    <p>Adept at upgrading and building PCs for any requirement.</p>
                </li>
                <li class="list-group-item">
                    <strong>IoT Device Experience</strong>
                    <p>Use/developent with Raspberry Pi's and smart speakers.</p>
                </li>
                <li class="list-group-item">
                    <strong>Transcription &amp; Copywriting</strong>
                    <p>Adept at content migration etc.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
