@page "/"

<div class="content">
    <section class="wrapper ">
        <div class="home-inner">

            <div class="highlights">
                <section>
                    <div class="content">
                        <h3 class="mb-5">Welcome to my site</h3>
                        <p class="mb-5">I'm a junior developer soon to graduate from Bournemouth University.</p>
                        <p>Once I graduate, I'd like to work professionally with .NET and C#. Take a look around!</p>
                        <div class="row">
                            <div class="col mt-5">
                                <a href="/projects">
                                    <i class="icon grow icon-extralarge fas fa-project-diagram" />

                                    <hr />
                                    <strong>Projects</strong>
                                </a>
                            </div>
                            <div class="col mt-5">
                                <a href="/contact">
                                    <i class="icon grow icon-extralarge fas fa-envelope" />

                                    <hr />
                                    <strong>Contact</strong>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-5">
                                <a href="/about">
                                    <i class="icon grow icon-extralarge fas fa-address-card " />

                                    <hr />
                                    <strong>About</strong>
                                </a>
                            </div>
                            <div class="col mt-5">
                                <a title="Patrick Davis CV" target="_blank" rel="noopener noreferrer" href="../media/PJDCV2019.pdf">
                                    <i class="icon grow icon-extralarge  fas fa-file-download " />

                                    <hr />
                                    <strong>My CV</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
