@page "/"
<section id="banner">
    <div class="inner">
        <div class="special">
            <h1>Patrick J Davis</h1>
        </div>
        <p>Junior Developer</p>
    </div>
    <img alt="Code going across screen" src="~/media/code.jpg" />
</section>
<div class="content">

    <h1>Hello, world!</h1>
</div>
