@page "/projects"

<h1 class="mx-auto text-center">Projects</h1>
<div class="content px-5">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Final Year (University) project</h5>
                    <img src="../media/finalyearapp.png" class="card-img" alt="a picture of my final year application" />
                    <p class="card-text">A .NET Core MVC C# application that helps a Screwfix branch track training progress.</p>
                    <small class="card-text">Code withheld, but a demonstration is available on request.</small>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">An ApostropheCMS template</h5>
                    <img src="../media/Apostrophe.jpg" class="card-img" alt="apostrophe cms image" />
                    <p class="card-text">
                        This is an Apostrophe CMS Skeleton Kit that I released using Bootstrap 4. I figured it'd help someone starting out with the CMS,
                        which is useful for some bespoke projects. The community behind the CMS is quite small
                        and it isn't something you'd see in industry, but it's relatively simple to use
                        and could power basic sites.
                    </p>
                    <a rel="nofollow" href="https://github.com/patrickd77-eng/ApostropheCMSBootstrap4Skeleton" class="btn btn-primary">Repo</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">A Python/Django blogging platform</h5>
                    <img src="../media/Blog.jpg" class="card-img" alt="A blogging platform" />
                    <p class="card-text">
                        This is a Bootstrap 4 blog template
                        that I released using the Django Framework.
                        It'd help someone starting out with django,
                        which is useful for quick projects using authentication.
                        Because this is a template repo with instructions,
                        it's very easy to be used or developed on. With some extra styling,
                        a fully functional CRUD capable blog could be made.
                    </p>
                    <a rel="nofollow" href="https://github.com/patrickd77-eng/DjangoBlogStarter" class="btn btn-primary">Repo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <img src="../media/motcheck.png" class="card-img" alt="An MOT check platform" />

                    <h5 class="card-title">Car MOT checker UK</h5>
                    <p class="card-text">A .NET Core MVC based MOT checker. Validation is included for vehicles that don't exist or aren't eligible for MOT tests yet. Uses the DVLA API.</p>
                    <a rel="nofollow" href="https://mot.patrickdavis.co.uk" class="btn btn-primary">View Live</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">This website</h5>
                    <p class="card-text">
                        This website is built with .NET Core Blazor.
                        It was originally built with just React.
                    </p>
                    <a rel="nofollow" href="https://github.com/patrickd77-eng/PJDReact" class="btn btn-primary">React Repo</a>
                    <a rel="nofollow" href="https://github.com/patrickd77-eng/PJDBlazor" class="btn btn-primary">Blazor Repo</a>

                </div>
            </div>
        </div>


    </div>
</div>
